.no-margin{
	margin: 0px !important;
}

.btn-black{
	background-color: #555555;
	color: #FFFFFF;
}

.btn-black:hover{
	background-color: #33383D;
	color: #FFFFFF;
}

.toggle i{
	position: relative !important;
	top: 0px !important;
	margin: auto;
}

.orb-form .toggle {
	padding: 0px !important;
}

.toggle input[type=checkbox]:checked + i{
	border-color: #82B964 !important;
}

.toggle input[type=checkbox]:checked + i:before{
	background-color: #82B964 !important;
}

.fa-ellipsis-h{
	width: 15%;
	text-align: right
}.fa-ellipsis-h:hover{
	color: #3B8DBD;
	cursor: pointer;
}

.input *,
.input *:before,
.input *:after {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

#bu-table th:nth-child(2),
#bu-table td:nth-child(2){
	width: 25%;
	text-align: center;
}


#employees-table th:nth-child(5),
#employees-table td:nth-child(5){
	text-align: center;
}

#employees-table th, #employees-table td { white-space: nowrap; }