.parent_li .orb-form{
	display: inline-block;
	width: 50%;
	margin: 0px 1em;
}

.evaluation{
	display: inline-block;
	text-decoration: none;
	color: #848484;
}

.evaluation:hover, .evaluation:focus{
	color: #848484;
}

.save-btn{
	width: 5em;
	background: #2184be;
	font-weight: 600;
	color: #fff;
	display: block;
	padding: 0.5em 1em;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
	float: right;
}

select{
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	height: 2em !important;
}

.no-margin{
	margin: 0px !important;
}

.comments{
	cursor: pointer;
	font-size: x-large;
	color: #3B8DBD;
}

.lock-eval{
	cursor: pointer;
	font-size: x-large;
	margin-left: 0.5em;
}

.fa-lock{
	color: #3B8DBD;
}