.fa-plus-circle {
	font-size: 2em;
	line-height: 1.4em;
	color: #3b8dbd;
	cursor: pointer;
} .fa-plus-circle:hover {
	color: #055788;
}

.table-icons {
	width: 10%;
	text-align: center;
}

#role-list .active td {
	background-color: #CCC;
}

#role-list td:nth-child(1) {
	width: 45%;
}

.show-role:hover{
	font-weight: bold;
	cursor: pointer;
}

.edit-role *,
.edit-role *:before,
.edit-role *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.edit-role span{
	background-color: #2184BE;
	border-color: #2184BE;
	color: #FFFFFF;
	cursor: pointer;
}

.blue { color: #3b8dbd; cursor: pointer; }
.red { color: #d24d33; cursor: pointer; }
.no-margin { margin: 0px !important; }