#vcp-vertions tr td:nth-child(3){
	text-align: center;
}

.no-margin{
	margin: 0px !important;
}

.orb-form *,
.orb-form *:before,
.orb-form *:after {
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

.btn-black{
	background-color: #555555;
	color: #FFFFFF;
}

.btn-black:hover{
	background-color: #33383D;
	color: #FFFFFF;
}