table section{
	margin: 0px !important;
}

.toggle input[type=checkbox]:checked + i{
	border-color: #82B964 !important;
}

.toggle input[type=checkbox]:checked + i:before{
	background-color: #82B964 !important;
}

.add-kpi *,
.add-kpi *:before,
.add-kpi *:after,
.edit-kpi *,
.edit-kpi *:before,
.edit-kpi *:after,
.form-group *,
.form-group *:before,
.form-group *:after,
.step-4 *,
.step-4 *:before,
.step-4 *:after {
    -webkit-box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

.add-kpi span{
	background-color: #82B964;
	border-color: #82B964;
    color: #FFFFFF;
    cursor: pointer;
}

.edit-kpi span{
	background-color: #2184BE;
	border-color: #2184BE;
	color: #FFFFFF;
	cursor: pointer;
}

.edit-kpi .erase{
	background-color: #2184BE;
	border-color: #2184BE;
}

.edit:hover{
	color: #2184BE;
}

.state-error span{
	background-color: #E9A89A;
	border-color: #E9A89A;
}

#form-lvl-tree li span{
	border-radius: 5px;
	font-size: 0.9em;
	display: inline-block;
	padding: 5px 8px;
	margin-top: 8px;
	text-decoration: none;
}

#form-lvl-tree .label{
	font-weight: 700;
	color: #FFFFFF;

}

#form-lvl-tree li{
	padding: 10px 5px 0 5px;
}

#form-lvl-tree ul{
	padding-left: 40px;
}

.tree-selected{
	background: #969fa1;
}
.hidden-copy{
	display: none !important;
}

.wizard > .steps > ul > li {
	width: 20%;
}

.fa-check-circle-o, .fa-circle-o{
	font-size: 2em;
	line-height: 40px;
	vertical-align: sub;
	color: #3B8DBD;
}

.fa-circle-o{
	color: #555555;
}

.toggle-values{
	position: absolute;
	z-index: 10;
	background-color: #FFF;
	border: solid 1px #C3C5CA;
	border-top: none;
	padding: 0px 2%;
}

.success{ color: #82B964; }

 .fa-question-circle {
 	cursor: pointer;
 }